!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      / %title= "#{locals[:title]}"
      - if locals[:title].nil? then
        %title FamilyFusion
      - else
        %title= locals[:title] + " | FamilyFusion"
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %meta{:content => "", :name => "description"}
      %meta{:content => "Dylan Fitzgerald", :name => "author"}

    = haml :_javascripts
    = haml :_styles
    = haml :_typekit
    -# = erb :_analytics
  %body

    = haml :_header

    %div= yield

    = haml :_footer